body {
    font-family: 'Playfair Display';
    background-color: black;
    color: white;
}
.nameGame {
    text-align: center;
    margin: auto;
}
.rusNameGame {
    font-size: 50px;
    margin: auto;
    padding: 0;
}
.engNameGame {
    font-size: 40px;
    margin: auto;
    padding: 0;
}
.rulesPart {
    margin: auto;
    padding: 0;
    position: relative;
    justify-content: space-between;
}
.rules {
    font-size: 20px;
    display: inline-block;
    margin: auto;
    padding: 10px;
    width: 30%;
    border: solid 1px;
/*    position: absolute;
    top: 0; */
}
.quest {
    flex-direction: column;
}